@import url("https://fonts.googleapis.com/css?family=Raleway:300");

body{
    background:#000000;
    font-family: 'Raleway', sans-serif;
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
}
.container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    /* width: 800px; */
    margin:30px auto;
    color: #000000;
    text-align: center;
}

h1,h2,h3{
    font-weight:100;
    font-size:2.6rem;
    text-transform:capitalize;
    
}

#seconds,#colon,#tens{
    font-size:2rem;
    color:rgb(255, 255, 255);
}


.circle{
    display:flex;
    align-items:center;
    justify-content: center;
    height:150px;
    width:150px;
    
    border:1px solid white;
    border-radius :100%;
    margin-bottom: 50px;
    animation:spin 4s linear infinite ;
}
.circle span{
    position:relative;
}

.counter{
    position: relative;
}
.numb {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #4158d0;
}

button{
  position: relative;
  height: 60px;
  width: 200px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  color: white;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
button:hover:before{
  opacity: 1;
}
button:hover:active{
  background: none;
}
button:hover:active:before{
  filter: blur(2px);
}
@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes spin {
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	} 
}

@media screen and (max-width:750px){
    
.circle{
    display:flex;
    align-items:center;
    justify-content: center;
    height:150px;
    width:150px;
    border:1px solid white;
    border-radius :50%;
    margin-bottom: 50px;
}
    button{
        display:flex;
        align-items:center;
        justify-content: center;
        position: relative;
        height: 60px;
        width: 200px;
        margin-bottom: 10px;
        border: none;
        outline: none;
        color: white;
        background: rgb(0, 0, 0);
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
      }
      button:before{

        position: absolute;
        content: '';
        top: -2px;
        left: -2px;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
        filter: blur(5px);
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        background-size: 400%;
        transition: opacity .3s ease-in-out;
        animation: animate 20s linear infinite;
      }
      button:hover:before{
        opacity: 1;
      }
      button:hover:active{
        background: none;
      }
      button:hover:active:before{
        filter: blur(2px);
      }
}



/*   */


